#.env
grafana/data/
prometheus/data/

# Terraform local files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Scripts/
star.sh

# Folders
logs/
tmp/
.vscode/
